@import "bootstrap/scss/bootstrap";

// white : ##E5E3E5
//gray1 : #545454
// gray2 : #c9c9c9
// gray3 : #383838
//gray4 : #a0a0a0
//gray5 : ##40414f
//black : ##1c1c1c

#root {
    background-color: #1c1c1c;
    height: 100vh;

    @media (max-width: 1100px) { 
        height: 100vh;
        background-color: #1c1c1c; /* 새로운 백그라운드 컬러 설정 */
    }
}

